<div class="navbar navbar-inverse" id="top-navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Brand</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li><a ng-href="#/home">Home</a></li>
            <li><a ng-href="#/alarm">Alarms</a></li>
            <li><a ng-href="#/music">Music</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Modules<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/modules/calendar">Calendar</a></li>
                    <li><a href="#/modules/echonest">Echonest</a></li>

                </ul>
            </li>
        </ul>
        <ul ng-hide="mainCtrl.user" class="nav navbar-nav navbar-right">
            <li><a href="#/login">Login<div class="ripple-wrapper"></div></a></li>
        </ul>
        <ul ng-show="mainCtrl.user" class="nav navbar-nav navbar-right">

            <li class="dropdown menu-large">
                <a class="dropdown-toggle" id="dLabel" data-toggle="dropdown"> Player</a>
                <ul class="dropdown-menu music-menu" >
                    <div music-menu></div>
                </ul>
            </li>
            <li><a href="#/settings">Settings<div class="ripple-wrapper"></div></a></li>
            <li><a href="#/user">User<div class="ripple-wrapper"></div></a></li>
        </ul>
    </div>
</div>