<!DOCTYPE html>
<html lang="eng">
    <head>
        <title><%=title%></title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <link rel='stylesheet'  href='/bootstrap/dist/css/bootstrap.min.css'>
        <link rel="stylesheet" href="bootstrap-material-design/dist/css/material-wfont.min.css">
        <link rel="stylesheet" href="bootstrap-material-design/dist/css/ripples.min.css"> 
        <link rel="stylesheet" href='/javascripts/clockpicker/dist/bootstrap-clockpicker.min.css'>
       <link rel="stylesheet" href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css">
    </head>
    <body>
        <% include nav %>
        <%- body%>
        
        <script src='/jquery/dist/jquery.min.js'></script>
        <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
        <script src='/javascripts/clockpicker/dist/bootstrap-clockpicker.min.js'></script>
        <script src="bootstrap-material-design/dist/js/material.min.js"></script>
        <script src="bootstrap-material-design/dist/js/ripples.min.js"></script>
        <script>
            $.material.init();
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>
        <script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
        <script>
            $("#dropdown-menu select").dropdown();
        </script>
        <script>
            $(".clockpicker").clockpicker({default:"now"});
        </script>
    </body>
            
    